.Counterfather{
    text-align:  center;
    justify-content: center;
    margin-top: 15%;
    background: black;
   
}

.Counterfather div{
    display: inline-block;
    font-size: 60px;
    line-height: 70px;
    background: #101010;
    color: white;
    padding: 20px;

}